<div>
  <div *ngIf="pics">
    <h1>List of Symptons</h1>
    <h1>Please select the afflicted area</h1>
    <img
      src="../assets/arm.jpg"
      (click)="chooseArm()"
      title="Title of image"
      alt="alt text here"
    />
    <img
      src="../assets/hand.jpg"
      (click)="chooseHand()"
      title="Title of image"
      alt="alt text here"
    />
    <img
      src="../assets/foot.jpg"
      (click)="chooseFoot()"
      title="Title of image"
      alt="alt text here"
    />
    <img
      src="../assets/legs.jpg"
      (click)="chooseLegs()"
      title="Title of image"
      alt="alt text here"
    />
    <img
      src="../assets/th.jpg"
      (click)="chooseHead()"
      title="Title of image"
      alt="alt text here"
    />
    <img
      src="../assets/torso.jpg"
      (click)="chooseTorso()"
      title="Title of image"
      alt="alt text here"
    />
  </div>
  <div *ngIf="arm">
    <h1>Arm</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
  <div *ngIf="hand">
    <h1>hand</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
  <div *ngIf="foot">
    <h1>Foot</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
  <div *ngIf="legs">
    <h1>Legs</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
  <div *ngIf="head">
    <h1>Head</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
  <div *ngIf="torso">
    <h1>Torso</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sympton</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let sym of SymptonArray">
          <td scope="col">
            {{ sym }}
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Please Select the sympton</h1>
    <button (click)="addSymptons('Bleeding')">Bleeding</button>
    <button (click)="addSymptons('Bruise')">Bruise</button>
    <button (click)="addSymptons('Purple Bruise')">purple Bruise</button>
    <button (click)="addSymptons('Brown Bruise')">Brown Bruise</button>
    <button (click)="addSymptons('Pain')">Pain</button>
  </div>
</div>
