<style>
  .btn {
    background-color: white;
  }
</style>
<script src="https://checkout.stripe.com/checkout.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous" />

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
</script>
<br />
<app-login *ngIf="!login" (LoginButtonEvent)="loginfunct()"></app-login>
<button (click)="register()" class="btn" *ngIf = "!login">Register</button>
<app-register *ngIf></app-register>

<div *ngIf="login">
  <h1>What would you like to do??</h1>
  <br>
  <button (click)="Adddiseasefunct()" class="btn">
    Add a disease
  </button>
  <button (click)="Historyfunct()" class="btn">
    view History
  </button>
  <button (click)="Diagonsefunct()" class="btn">
    Diagonse
  </button>

  <app-add-disease *ngIf="Adddisease"></app-add-disease>
  <app-diagonse *ngIf="Diagonse"></app-diagonse>
  <app-history *ngIf="History"></app-history>

  <br />
  <!-- <button (click)="manual()" class = "btn"> 
  Manual</button>-->
  <br />

  <!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->